.blogEdit {
    display: flex;
}

.noneEdit {
    display: none;
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.user-info-left {
    width: 70%;
    text-align: left;
}

.info-item {
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    margin-top: 16px;
}

.user-info-item {

}

.infoItem-left {
    width: 80%;
}

.color-grey {
    color: #717171;
}

.infoItem-right {
}

.editBtn {
    text-decoration: underline;
    cursor: pointer;
}

.user-info-right {
    width: 25%;
}








.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}

