.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-red {
  color: rgb(193, 53, 21);
}
.avatar-form{
  width: 100px;
  height: 100px;
}

.w-70 {
  width: 70%;
}
.w-65 {
  width: 65%;
}

.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}

.w-50 {
  width: 50%;
}

.css-1hbyad5-MuiTypography-root {
  display: none;
}
.MuiPickersLayout-toolbar {
  display: none !important;
}
div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px;"] {
  display: none !important;
}

.blogEdit {
  display: flex;
}

.noneEdit {
  display: none;
}